.profile-container {
  position: relative;
  top: 5.1rem;
  z-index: 1;
  background: #381955;
  min-height: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-container::before {
  content: "SRIRAM";
  position: absolute;
  width: 120%;
  /* height: -webkit-fill-available; */
  z-index: -1;
  font-size: 50rem;
  opacity: 0.1;
  top: -5rem;
}
.profile-container p {
  color: white;
  font-size: var(--form-heading-size);
  text-align: center;
  /* padding: 0rem 5rem; */
  width: 50%;
  transform: translate(50%, 0%);
}
.name-img {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-top: 8rem;
  padding-bottom: 2rem;
}
.name-img img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.name-img span {
  color: var(--white-color);
  font-size: var(--form-large-heading-size);
}

.recent-works{
  padding-top: 7rem;
  display: flex
;
    justify-content: space-around;
    align-items: center;
}

.recent-works h1{
  font-size: xxx-large;
    color: var(--font-color-light-grey);
}
.recent-works p{
      font-size: var(--form-heading-size);
    color: grey;
}

.home-project-cards{
  padding: 2rem;
}