.profile-container {
  position: relative;
  top: 5.1rem;
  z-index: 1;
  background: #381955;
  min-height: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-container::before {
  content: "SRIRAM";
  position: absolute;
  width: 120%;
  /* height: -webkit-fill-available; */
  z-index: -1;
  font-size: 50rem;
  opacity: 0.1;
  top: -5rem;
  transform: translateX(var(--pseudo-translateX));
  transition: transform 0.2s ease-out;
}
.profile-container>p {
  color: white;
    font-size: var(--form-heading-size);
    text-align: center;
    padding: 2rem 8rem;
    width: 100%;
}
.name-img {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-top: 8rem;
  padding-bottom: 2rem;
}
.name-img img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.name-img span {
  color: var(--white-color);
  font-size: var(--form-large-heading-size);
}

.recent-works{
  padding-top: 7rem;
  display: flex
;
    justify-content: space-around;
    align-items: center;
}

.recent-works h1{
  font-size: xxx-large;
    color: var(--font-color-light-grey);
}
.recent-works p{
      font-size: var(--form-heading-size);
    color: grey;
}

.home-project-cards{
  padding: 2rem;
}

@media only screen and (max-width:1023px) {
  .name-img{
    gap: 1rem;
  }
  .name-img img{
    width: 50px;
    height: 50px;
  }
  .name-img span{
    font-size: 2rem;
  }
  .profile-container{
    min-height: 45rem;
  }
  .profile-container>p{
    font-size: 1rem;
    width: 100%;
    text-align: center;
    padding: 0 1rem;
  }
  .recent-works{
        padding-top: 3rem;
  }
  .recent-works>h1{
    font-size: var(--mobile-heading-large);
  }
  .recent-works>p{
    font-size: var(--mobile-label-large);
  }
  .profile-container::before{
    font-size: 20rem;
        padding-top: 8rem;
  }
  .home-project-cards{
    padding-top: 2rem;
  }
  
}