.link-style {
  text-decoration: none;
  color: inherit;
}
.main-wrapper {
  position: relative;
  z-index: 10;
  min-height: 100vh;
  padding-bottom: 20rem;
}
@media only screen and (max-width:1023px) {
  .main-wrapper{
        padding-bottom: 14.8rem;
  }
}