* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
#root {
  --white-color: white;
  --background-black: rgb(20, 24, 26);
  --font-color-light-grey: hsl(0, 0%, 100%, 0.75);
  --font-outfit: "Outfit", serif;
  --form-large-heading-size: 6rem;
  --form-heading-size: 1.8rem;
  --form-label-size: 1.2rem;
  --form-heading-height: 2.25rem;
  overflow-x: hidden;
}

@media screen and (min-width: 1024px) {
  #root {
  }
}
